# Typically placed in systemd under /lib/systemd/system/
[Unit]
Description=Contented service as a resume host

[Service]
User={{ run_user | default('contented_user') }}
Group={{ run_user | default('contented_user') }}
WorkingDirectory=/home/{{ run_user | default('contented_user') }}/contented
ExecStart=/usr/local/bin/contented
UMask=007

[Install]
WantedBy=multi-user.target
