.angular/cache
node_modules/*
bin/*
locales/*
migrations/schema.sql

tmp/*

.grifter/
.yarn/
.yarnrc.yml
.DS_Store
/mocks/.DS_Store
/mocks/content/*
/mocks/content/*/container_previews/*
/mocks/content/dir2/.DS_Store
/mocks/content/dir2/*h256.mp4
/mocks/content/screens/screens_sub_dir/container_previews/
public/build/*
public/static/*

