<div class="admin-containers-cmp">
    <contented-nav [loading]="loading"></contented-nav>
    <div></div>

    <form #containerForm [formGroup]="options" (keypress)="$event.stopPropagation()">
    <div class="search-form">
      <div class="search-tags" *ngIf="this.options">
        <tags-cmp
         [tags]="tags"
         [editorValue]="searchText"
         (tagsChanged)="changedSearch($event)"
        ></tags-cmp>
      </div>

        <!-- Center this would be nice -->
        <div class="form-group search-selector">
          <mat-radio-group [formControl]="searchType" aria-label="Select to modify the search type">
            <mat-radio-button value="text">By Text</mat-radio-button>
            <mat-radio-button value="tags">By Tags</mat-radio-button>
          </mat-radio-group>
        </div>

        <mat-paginator
          [length]="total"
          [pageSize]="pageSize"
          (page)="pageEvt($event)"
        ></mat-paginator>
      </div>
    </form>

    <div class="admin-cnt" *ngFor="let container of containers">
      <div class="container-contents">
        <mat-card class="primary-card">
          <mat-card-header>
              <mat-card-title >
                <div class="container-bar-no-border">
                  <span class="title bar-spacer">{{container.name}}</span>
                  <span class="total-content bar-spacer">
                    count({{container.total}})  
                 </span>
                <div class="bar-spacer">
                  <button mat-raised-button [disabled]="creatingTask" (click)="createPreviews(container)">
                      Create Previews
                  </button>
                  <!--
                  <button mat-raised-button [disabled]="creatingTask" (click)="createWebp(container)">
                      Create Webp from Previews
                  </button>
                  -->
                  <button mat-raised-button [disabled]="creatingTask" (click)="findDuplicates(container)">
                      Find Duplicates
                  </button>
                  <button mat-raised-button [disabled]="creatingTask" (click)="removeDuplicates(container)">
                      Remove Duplicates
                  </button>
                  <button mat-raised-button [disabled]="creatingTask" (click)="createTags(container)">
                      Assign Tags
                  </button>
                  <button mat-raised-button [disabled]="creatingTask" (click)="encodeVideos(container)">
                      Encode Video Contents
                  </button>
                </div>
              </div>
              </mat-card-title>
              <mat-card-subtitle>
                {{container.description}}
              </mat-card-subtitle>
          </mat-card-header>

          <!-- Or go to a single page editing container option and just provide a description text input -->
          <mat-card-content>
            <div class="container-preview-large">
             <img class="container-preview-img" [src]="container?.previewUrl">
            </div>
            <div>Show content for the container (expand) vs edit button</div>
            <div>Show previous tasks or pending (expand) make it 'recent'</div>
            <div>Provide some level of editor support later edit button</div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
</div>
