<div class="contented-cmp">

  <div *ngIf="fullScreen">
    <contented-view [viewUrl]="getCurrentLocation()"></contented-view>
  </div>

  <!-- Fix this to be better about how to get the currDir -->
  <div class="contented-dir" name="contents" *ngFor="let dir of getVisibleDirectories()">

    <div class="directory-contents" [class.current-content-dir]="dir == getCurrentDir()">
      <mat-progress-bar
        [value]="dir.count ? ((rowIdx + 1) * 100 / dir.count) : 1"
        [color]="'primary'"
        [bufferValue]="dir?.total"
        [mode]="dir.count == dir.total ? 'determinate' : 'buffer'"
      ></mat-progress-bar>

      <mat-card class="directory-meta" *ngIf="!!dir">
        <mat-card-subtitle>
          <span class="dir-name">
            <a href="/content/{{dir?.id}}">{{dir?.name}}</a>
          </span>
          <span class="current-item"> {{currentViewItem.fullPath}}</span>
          showing {{idx + 1}} of {{allD?.length}} directories.
          <form class="directory-meta-text">
            Select: <input name="rowIdx" type="number" [(ngModel)]="rowIdx">
            Loaded: <span class="dir-max-count"> {{dir?.contents?.length}}</span> of {{dir?.total}}
            <span *ngIf="dir?.contents?.length < dir.total">
              press (F) or: 
              <button class="btn btn-primary" (click)="fullLoadDir(dir)">
                Load ({{ dir.total - dir.count }}) Items
              </button>
            </span>
          </form>
        </mat-card-subtitle>
      </mat-card>

      <mat-card-content>
        <directory-cmp 
          [directory]="dir" 
          [currentViewItem]="getCurrentLocation()"
          (clickedItem)="dirItemClicked($event)"
          [previewWidth]="previewWidth" 
          [previewHeight]="previewHeight"
        ></directory-cmp>
      </mat-card-content>

    </div>
  </div>
</div>
