<div class="container-cmp">
  <div *ngIf="container" class="cnt-contents" style="min-height: {{(previewHeight + 20) * 2}}px;">
    
    <preview-content-cmp *ngFor="let content of getVisibleSet()"
      [content]="content"
      [previewWidth]="previewWidth"
      [previewHeight]="previewHeight"
      [active]="active && (content === container.getCurrentContent())"
      (click)="clickContent(content)"
    ></preview-content-cmp>

  </div>
  <div class="cnt-empty" *ngIf="!container || !container.contents">
    Empty Directory
  </div>
</div>
