<div class="content-browser-cmp">

  <contented-nav [containers]="allCnts" [loading]="loading"></contented-nav>

  <!-- TODO: A more generic error handling setup -->
  <div class="error no-content" *ngIf="emptyMessage">
    {{emptyMessage}}
  </div>

  <!-- Favorites Container - A nav should be created and potentially this should be added into the contented-nav-->
  <favorites-cmp></favorites-cmp>

  <div>
    <contented-view></contented-view>
  </div>

  <!-- Fix this to be better about how to get the currDir -->
  <div class="contented-cnt" name="contents" *ngFor="let cnt of getVisibleContainers()">
    <!-- Probably break this out into a container Info Component -->
    <div class="container-contents">
      <mat-card>
        <mat-card-subtitle>
          <container-nav
            [cnt]="cnt"
            [active]="cnt === getCurrentContainer()"
            [totalContainers]="allCnts.length || 0"
            [rowIdx]="cnt.rowIdx"
            [idx]="idx"
          ></container-nav>
        </mat-card-subtitle>
        <mat-card-content>

          <!-- TODO: Make this a better calculation since the width depends on a calculation on per row. -->
          <container-cmp 
            [container]="cnt" 
            [active]="cnt === getCurrentContainer()"
            [maxRendered]="perRow * 2"
          ></container-cmp>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
