<div class="contented-view-cmp">

  <span *ngIf="container" class="max-full-url-path">
    <a href="{{container?.fullUrl}}">
      {{container.src}}({{container.content_type}})
    </a>
  </span>
  <span *ngIf="!container">
    No Url selected
  </span>

  <div *ngIf="container"
    class="container-full-view" 
    style="width:{{maxWidth}}px; height: {{maxHeight}}px;"
  >
    <img *ngIf="container?.isImage()" 
      class="full-view-img" 
      [src]="container.fullUrl"
    >

    <!-- TODO: should the fullscreen for a video should be totally different -->
    <span *ngIf="container.isVideo()"
      class="full-view-video"
    >
      {{container.fullUrl}}
    VIDEO
    </span>


  </div>

</div>
