<mat-toolbar class="contented-nav-cmp">
  <!-- A link to search here is a little odd -->


  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Navigation around the content">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button class="nav-link"
      mat-menu-item
      [routerLink]="['/ui/splash']" href="/ui/splash"
      [routerLinkActive]="['active']"
    >
      <mat-icon>home</mat-icon><span>Home</span>
    </button>

    <button class="nav-link"
      mat-menu-item
      [routerLink]="['/ui/search']" href="/ui/search"
      [routerLinkActive]="['active']"
    >
      <mat-icon>search</mat-icon><span>Search</span>
    </button>

    <button class="nav-link" href="/ui/video"
      mat-menu-item
      [routerLink]="['/ui/video']" 
      [routerLinkActive]="['active']"
    >
      <mat-icon>videocam</mat-icon><span>Video</span>
    </button>

    <button class="nav-link"
      mat-menu-item
      [routerLink]="['/ui/browse', '0', '0']"
      [routerLinkActive]="['active']"
      href="/ui/browse/0/0/"
    >
      <mat-icon>browse_gallery</mat-icon>
      <span>Browse</span>
    </button>
  </mat-menu>



  <span class="nav-title">{{title}}</span>
  <form *ngIf="containers" class="container-search-form" (keypress)="$event.stopPropagation()">
    <mat-form-field class="container-nav-search" appearance="outline">
      <input type="text"
        placeholder="Navigate to container"
        aria-label="Navigation Help"
        id="CONTENT_FILTER"
        matInput
        [formControl]="containerFilter"
        [matAutocomplete]="auto"
        (keyup.enter)="chooseFirstOption()"
        >
      <mat-autocomplete 
          #auto="matAutocomplete" 
          [displayWith]="displaySelection.bind(this)">
        <mat-option *ngFor="let c of filteredContainers | async" 
          (onSelectionChange)="selectedContainer(c)"
          [value]="c.id"
        >{{c.name}}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <div matRipple [matRippleTrigger]="trigger" class="nav-options" *ngIf="!noKeyPress">
    <small>Hotkeys</small>
    <button id="BTN_w" title="Move up a container"
      type="button" mat-button
      (click)="handleKey('w')"
    >w</button>
    <button id="BTN_a" title="Select the previous content in current container"
      type="button" mat-button
      (click)="handleKey('a')"
    >a</button>
    <button id="BTN_s" title="Move down a container"
      type="button" mat-button
      (click)="handleKey('s')"
    >s</button>
    <button id="BTN_d" title="Select the next content in the current container"
      type="button" mat-button
      (click)="handleKey('d')"
    >d</button>
    <button id="BTN_e" title="View the currently selected content in fullscreen"
      type="button" mat-button
      (click)="handleKey('e')"
    >e</button>
    <button id="BTN_q" title="Hide any fullscreen content"
      type="button" mat-button
      (click)="handleKey('q')"
    >q</button>
    <button id="BTN_f" title="Load more entries in the current container (if not fully loaded)"
      type="button" mat-button
      (click)="handleKey('f')"
    >f</button>
    <button id="BTN_x" title="Download a currently selected piece of content"
      type="button" mat-button
      (click)="handleKey('x')"
    >x</button>
  </div>

  <div #trigger id="nav-contented-evts">
    <!-- Could use this to scroll in or other evts, but mainly lets us manually trigger on keypress-->
  </div>

  <!-- This pretty much just flickers, probably test it is working on larger content -->
  <div *ngIf="loading">
     <mat-progress-spinner
       [diameter]="32"
       [mode]="'indeterminate'">
     </mat-progress-spinner>
  </div>

  <error-handler-cmp></error-handler-cmp>

</mat-toolbar>
