<div class="contented-view-cmp">
  <div *ngIf="visible" class="contented-view" id="MEDIA_VIEW">
    <!-- swap the terms here and make media into 'media' -->
    <div *ngIf="media"
      class="media-full-view" 
      style="width:{{maxWidth}}px; height: {{maxHeight}}px;"
    >
        <img class="media-img" *ngIf="media?.isImage()" 
          class="full-view-img media-img" 
          [src]="media.fullUrl"
        >

        <!-- TODO: should the fullscreen for a video should be totally different? -->
        <video *ngIf="media.isVideo()" 
          id="VIDEO_{{media.id}}"
          class="media-video"
          [width]="maxWidth"
          [height]="maxHeight"
          controls>
          <source [src]="media.fullUrl" [type]="media.content_type">
        </video>

    <a *ngIf="media" class="max-full-url-path" href="{{media?.fullUrl}}">
      {{media.src}}({{media.content_type}})
    </a>
    <span *ngIf="!media">
      No Url selected
    </span>
  </div>

  <div *ngIf="media && media.isVideo()" class="media-video-screens">
    <screens-cmp
      (clickedItem)="clickedScreen($event)"
      [mediaId]="media.id"
    ></screens-cmp>
  </div>
</div>
