<div class="contented-cmp">
  <!-- TODO: A more generic error handling setup -->
  <div class="error no-content" *ngIf="emptyMessage">
    {{emptyMessage}}
  </div>

  <div *ngIf="fullScreen">
    <contented-view [container]="getCurrentLocation()"></contented-view>
  </div>

  <!-- Fix this to be better about how to get the currDir -->
  <div class="contented-dir" name="contents" *ngFor="let dir of getVisibleDirectories()">

    <!-- Probably break this out into a container Info Component -->
    <div class="container-contents" [class.current-content-dir]="dir === getCurrentDir()">
      <mat-progress-bar
        [value]="dir.count ? ((rowIdx + 1) * 100 / dir.count) : 1"
        [color]="'primary'"
        [bufferValue]="dir?.total"
        [mode]="dir.count === dir.total ? 'determinate' : 'buffer'"
      ></mat-progress-bar>

      <mat-card class="container-meta" *ngIf="!!dir">
        <mat-card-subtitle>
          <div class="container-bar">
            <div class="container-preview-loc">
              <img class="container-preview-img" [src]="dir?.previewUrl">
            </div>

          <div class="container-bar-info">
            <span class="bar-spacer">
              {{idx + 1}} of {{allD?.length}} Containers.
            </span>

            <form class="container-meta-text bar-spacer">
              Current Index: <input name="rowIdx" type="number" [(ngModel)]="rowIdx">
              Loaded: <span class="dir-max-count"> {{dir?.contents?.length}}</span>
              of <span class="dir-total">{{dir?.total}}</span> media
              <span *ngIf="dir?.contents?.length < dir.total">
                press (F) or: 
                <button class="btn btn-primary" (click)="fullLoadDir(dir)">
                  Load ({{ dir.total - dir.count }}) Items
                </button>
              </span>
            </form>

            <div class="bar-spacer">Add a WASD</div>
              <span class="bar-spacer">
                Selected: 
              <a target="window" class="dir-name"
                href="/containers/{{dir?.id}}"
              >{{dir?.name}}</a>
              <span *ngIf="currentViewItem">/</span> 
              <a target="window" class="current-item" 
                *ngIf="currentViewItem" 
                href="{{currentViewItem.fullUrl}}">
                {{currentViewItem?.src}}
              </a>
              &nbsp; {{currentViewItem?.content_type}}
              </span>
            </div>
          </div>
        </mat-card-subtitle>
      </mat-card>

      <mat-card-content>
        <container-cmp 
          [container]="dir" 
          [currentViewItem]="getCurrentLocation()"
          (clickedItem)="dirItemClicked($event)"
          [previewWidth]="previewWidth" 
          [previewHeight]="previewHeight"
        ></container-cmp>
      </mat-card-content>

    </div>
  </div>
</div>
