<div class="container-nav-cmp" [class.current-content-cnt]="active">
  <div *ngIf="cnt">
    <mat-progress-bar
      [value]="cnt.count ? ((cnt.rowIdx + 1) * 100 / cnt.count) : 1"
      [color]="'primary'"
      [bufferValue]="cnt?.total"
      [mode]="cnt.count === cnt.total ? 'determinate' : 'buffer'"
    ></mat-progress-bar>
    <div class="container-bar">
      <div class="container-preview-loc">
        <img class="container-preview-img" [src]="cnt?.previewUrl">
      </div>
      <div class="container-bar-info">
        <span class="bar-spacer">
          {{idx + 1}} of {{totalContainers}} Containers.
        </span>

        <div class="bar-spacer">
          <mat-progress-spinner
            *ngIf="cnt.loadState === ContainerLoadStates.Loading"
            [diameter]="32"
            [mode]="'indeterminate'">
          </mat-progress-spinner>
        </div>

        <!-- Event emit for the rowIdx for this component -->
        <form class="container-meta-text bar-spacer">
          Current Index: <input name="rowIdx" type="number" [(ngModel)]="cnt.rowIdx">
          Loaded: <span class="cnt-max-count"> {{cnt?.contents?.length}}</span>
          of <span class="cnt-total">{{cnt?.total}}</span> media
          <span *ngIf="cnt?.contents?.length < cnt.total">
            press (F) or: 
            <button class="btn-full-load-ctn" (click)="fullLoadContainer(cnt)">
              Load ({{ cnt.total - cnt.count }}) Items
            </button>
          </span>
        </form>

          <span class="bar-spacer">
            Selected: 
          <a target="window" class="cnt-name"
            href="/containers/{{cnt?.id}}"
          >{{cnt?.name}}</a>
          <span *ngIf="currentMedia">
              /
              <a target="window" class="current-item" href="{{currentMedia.fullUrl}}"> {{currentMedia?.src}}</a>
              <span class="media-size-info"> {{currentMedia.size | byteFormatter: 0}}</span>
              <span class="media-content-type"> {{currentMedia?.content_type}}</span>
          </span>
          </span>
        </div>
    </div> <!-- End Container bar info -->
  </div> <!-- End cnt -->
</div> <!-- End Component -->
