<div class="contented-view-cmp">
  <div *ngIf="visible" class="contented-view" id="MEDIA_VIEW_{{restrictContentId}}">
    <!-- swap the terms here and make content into 'content' -->
    <div class="close-icon-container">
      <mat-icon class="close-icon" *ngIf="content?.isVideo()" (click)="visible = false">visibility_off</mat-icon>
    </div>
    <div *ngIf="content"
      class="content-full-view" 
      style="width: {{maxWidth}}px; height: {{maxHeight}}px;"
    >

        <img class="content-img" *ngIf="content?.isImage()" 
          class="full-view-img content-img" 
          [src]="content.fullUrl"
        >

        <!-- TODO: should the fullscreen for a video should be totally different? -->
        <video #VIDEOELEMENT *ngIf="content.isVideo()" 
          id="VIDEO_{{content.id}}"
          class="content-video"
          [width]="maxWidth"
          [height]="maxHeight"
          controls>
          <source [src]="content.fullUrl" [type]="content.content_type">
        </video>


        <div *ngIf="content.isText() && content.fullText">
        <!-- Should make it so it just raw loads text info. -->
          <vscode-editor-cmp 
            *ngIf="content.isText()"
            [editorValue]="content.fullText"
            [readOnly]="true"
          ></vscode-editor-cmp>
        </div>

    <div class="contented-view-controls">
      <button *ngIf="content" type="button" class="content-open-window" 
        title="Open in a new tab/window and full fullscreen."
        mat-icon-button (click)="openWindow(content)">
        <mat-icon>tab</mat-icon> 
      </button>

      <button *ngIf="content?.isVideo()" type="button" class="screencap hidden" 
        title="Take a screen at the current video time"
        [disabled]="taskLoading"
        (click)="screenshot(content)"
        mat-icon-button 
        [routerLinkActive]="['show']"
        [routerLink]="['/ui/editor_content/', content.id]">
        <mat-icon>screenshot_frame</mat-icon> 
      </button>

      {{content.src}} - ({{content.content_type}})
    </div>
    <span *ngIf="!content">
      No Url selected
    </span>
  </div>

  <div *ngIf="showScreens && content && content.isVideo()" class="content-video-screens">
    <screens-cmp
      (screenClick)="clickedScreen($event)"
      [contentId]="content.id"
    ></screens-cmp>
  </div>
</div>
