<div class="content-browser-cmp">

  <contented-nav [containers]="allCnts" [loading]="loading"></contented-nav>

  <!-- TODO: A more generic error handling setup -->
  <div class="error no-content" *ngIf="emptyMessage">
    {{emptyMessage}}
  </div>

  <div class="contented-cnt" [class.hidden]="favoritesContainer?.contents?.length === 0">
    <div class="contented-cnt-header" *ngIf="favoritesContainer">
      <container-cmp 
        [container]="favoritesContainer"
        [previewWidth]="previewWidth / 4" 
        [previewHeight]="previewHeight / 4"
        [maxRendered]="32"
        [maxPrevItems]="32"
        [monitorFavorites]="true"
        ></container-cmp>
    </div>
  </div>

  <div>
    <contented-view></contented-view>
  </div>

  <!-- Fix this to be better about how to get the currDir -->
  <div class="contented-cnt" name="contents" *ngFor="let cnt of getVisibleContainers()">
    <!-- Probably break this out into a container Info Component -->
    <div class="container-contents">
      <mat-card>
        <mat-card-subtitle>
          <container-nav
            [cnt]="cnt"
            [active]="cnt === getCurrentContainer()"
            [totalContainers]="allCnts?.length"
            [rowIdx]="cnt.rowIdx"
            [idx]="idx"
          ></container-nav>
        </mat-card-subtitle>
        <mat-card-content>
          <container-cmp 
            [container]="cnt" 
            [active]="cnt === getCurrentContainer()"
            [previewWidth]="previewWidth" 
            [previewHeight]="previewHeight"
          ></container-cmp>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
