<div class="directory-cmp">
  <span class="dir-meta">
    {{dir.id}} : {{dir?.contents?.length}} / {{dir.total}} {{currentViewItem}}
  </span>
  <div class="dir-contents">
    <span class="preview-content" *ngFor="let previewPath of getVisibleSet()">
      <!-- Determine different content types? -->
      <img  class="preview-img"
        [class.current-img]="currentViewItem ? previewPath.match(currentViewItem) : false"
        [width]="previewWidth"
        [height]="previewHeight"
        [src]="previewPath" 
        (load)="imgLoaded($event)"
        (click)="imgClicked(previewPath)"
      > 
    </span>
  </div>
  <div class="dir-empty" *ngIf="!dir || !dir.contents">
    Empty Directory
  </div>
</div>
