<div class="directory-cmp">
  <div class="dir-contents">
    <span class="preview-content" *ngFor="let previewPath of getVisibleSet()">
      <img class="preview-img"
        [class.current-img]="currentViewItem ? previewPath.match(currentViewItem) : false"
        [width]="previewWidth"
        [height]="previewHeight"
        [src]="previewPath" 
        (load)="imgLoaded($event)"
        (click)="imgClicked(previewPath)"
      > 
    </span>
  </div>
  <div class="dir-empty" *ngIf="!directory || !directory.contents">
    Empty Directory
  </div>
</div>
