<div class="directory-cmp">
  <div class="dir-contents">
    <span class="preview-content" *ngFor="let imgContainer of getVisibleSet()">
      <img class="preview-img"
        [class.current-img]="currentViewItem == imgContainer"
        [width]="previewWidth"
        [height]="previewHeight"
        [src]="imgContainer.fullUrl" 
        (load)="imgLoaded($event)"
        (click)="imgClicked(imgContainer)"
      > 
    </span>
  </div>
  <div class="dir-empty" *ngIf="!directory || !directory.contents">
    Empty Directory
  </div>
</div>
