<span class="error-handler-cmp">
    <button type="button" mat-raised-button color="warn"
     (click)="viewErrors()"
     *ngIf="hasErrors()">
      <mat-icon class="error" *ngIf="hasErrors()">error</mat-icon> 
      Errors ({{getErrorCount()}})
    </button>

    <span class="error error-msg" *ngFor="let key of getErrorKeys()">
        Error: {{key}}
        <span class="hidden error-debug-info">
            {{this.events[key].message?.info || "No debug info"}}
        </span>
    </span>
</span>
