<mat-dialog-content #ErrorDialog class="error-dialog">
    <div class="error error-dialog-messages" *ngFor="let err of errors">
        <div class="error-msg" *ngIf="err.count > 0">
            <span>Error: {{err.message.msg}}</span>
            <button type="button" mat-icon-button (click)="dismiss(err)">
                <mat-icon>close</mat-icon>
            </button>
            <span class="hidden error-debug-info">
                {{err.message.info || "No debug info"}}
            </span>
        </div>
    </div>
 </mat-dialog-content>
 <mat-dialog-actions align="end">
   <button mat-raised-button
      mat-dialog-close
   >Close</button>
 </mat-dialog-actions>