<div class="search-cmp">
  <contented-nav [loading]="loading"></contented-nav>

  <favorites-cmp></favorites-cmp>
  <div style="visibility: hidden; position: fixed"
    [style.left]="contextMenuPosition.x"
    [style.top]="contextMenuPosition.y"
    [matMenuTriggerFor]="contextMenu">
  </div>
  <mat-menu #contextMenu="matMenu">
    <ng-template matMenuContent let-content="content">
      <button mat-menu-item (click)="addFavorite(content)">Toggle Favorite</button>
      <button mat-menu-item (click)="toggleDuplicate(content)">Toggle Duplicate</button>
    </ng-template>
  </mat-menu>



  <form class="search-form" [formGroup]="options" *ngIf="options">
    <div class="search-tags">
      <tags-cmp
       [tags]="tags"
       [editorValue]="searchText"
       (tagsChanged)="changeSearch($event)"
      ></tags-cmp>
    </div>

    <div class="form-group search-type-selector">
      <mat-radio-group [formControl]="searchType" aria-label="Select to modify the search type" class="center-align">
        <mat-radio-button value="text">By Text</mat-radio-button>
        <mat-radio-button value="tags">By Tags</mat-radio-button>
      </mat-radio-group>
    </div>
    <div class="search-paginator">
      <mat-paginator
        [length]="total"
        [pageSize]="pageSize"
        (page)="pageEvt($event)"
        ></mat-paginator>
      </div>
  </form>

  <mat-progress-spinner *ngIf="loading"
    [diameter]="32"
    [mode]="'indeterminate'">
  </mat-progress-spinner>

  <div class="search-results" *ngIf="!!content">
    <preview-content-cmp class="search-result" *ngFor="let content of getVisibleSet()"
      [content]="content"
      [previewWidth]="previewWidth"
      [previewHeight]="previewHeight"
      (click)="contentClicked(content)"
      (contextmenu)="onContextMenu($event, content)"
    ></preview-content-cmp>
  </div>
</div>
