<contented-nav 
  [loading]="loading"
  [noKeyPress]="true"
  [title]="'Overly Complex resume rendering examples by Justin Carlson!'"
></contented-nav>
<div class="splash-cmp">


  <mat-card *ngIf="splashTitle || splashContent" class="primary-card">
    <mat-card-header>{{splashTitle}}</mat-card-header>
    <mat-card-content>
      <div class="splash-html" [innerHTML]="splashContent | safe:'html'"></div>
    </mat-card-content>
  </mat-card>


  <div *ngIf="rendererType === 'container'">
    <container-cmp [container]="c">
    </container-cmp>
  </div>
  <div *ngIf="rendererType === 'video'">
    <video-preview-cmp [maxVisible]="4" [mc]="mc" *ngFor="let mc of getVideos()" [inlineView]="true">
    </video-preview-cmp>
  </div>

  <mat-card *ngIf="mc" class="primary-card">
    <mat-card-header>
      <mat-card-title>{{mc.description}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <contented-view
          [forceHeight]="600"
          [content]="mc"
          [visible]="true"
        ></contented-view>
    </mat-card-content>
  </mat-card>

  <!-- Assign this as the MC and implement a text type? -->
  <mat-card class="primary-card">
    <mat-card-header>
      <mat-card-title>Work History</mat-card-title>
      <mat-card-subtitle>
          This is a custom Monaco editor using a set of syntax highlighting to show a 
          pretty basic text resume.  None of the highlighs are custom CSS it is all just
          Monarch token processing.  There is a little bit of a hack around C# though, turns
          out you cannot just tokenize that and have your # comments render right!
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div id="SPLASH_FULL">
        <ngx-monaco-editor #EDITOR
          height="100%"
          [options]="editorOptions"
          [(ngModel)]="editorValue"
          (onInit)="afterMonacoInit($event)"
        ></ngx-monaco-editor>
      </div>
    </mat-card-content>
  </mat-card>
</div>

