<div class="tags-cmp">
  <form #tagsForm [formGroup]="options" >
    <div class="search-paginator">
      <mat-form-field apperance="fill" floatLabel="true" class="search-field">
        <input type="text" name="searchTags" 
          matInput
          aria-label="Search"
          placeholder="Find Tags"
          [formControl]="searchTags"
          (keypress)="$event.stopPropagation()"
        >
        <mat-icon matSuffix>tag</mat-icon>
      </mat-form-field>
  
      I think VSCode type completion would be the best option for the search with the 'current token'
      being used to try and determine what the tag should be?

      <mat-paginator
        [length]="total"
        [pageSize]="pageSize"
        (page)="pageEvt($event)"
      ></mat-paginator>
    </div>
  </form>
  
    <mat-progress-spinner *ngIf="loading"
      [diameter]="32"
      [mode]="'indeterminate'">
    </mat-progress-spinner>

    <div *ngIf="searchTags?.value?.length > 0">
      <div *ngFor="let tag of matchedTags">
        {{tag.id}}
      </div>
    </div>
  </div>
  