<div class="tags-cmp">

  <div class="tag-search-editor" *ngIf="tags?.length > 0">
    VSCODE EDITOR {{tags.length}}
   <vscode-editor-cmp 
     (changeEmitter)="changedTags($event)"
     [tags]="tags"
   ></vscode-editor-cmp>
  </div>
  
    <mat-progress-spinner *ngIf="loading"
      [diameter]="32"
      [mode]="'indeterminate'">
    </mat-progress-spinner>

    <!--
    <div *ngIf="searchTags?.value?.length > 0">
      <div *ngFor="let tag of matchedTags">
        {{tag.id}}
      </div>
    </div>
    -->
  </div>
  