<div class="video-preview-cmp">
  <div class="video-results" *ngIf="content">
    <mat-card id="view_content_{{content.id}}" class="video-view-card primary-card">
      <mat-card-header>
        <mat-card-title class="video-details">
          <a mat-raised-button href="/view/{{content.id}}" title="View fullscreen in a new tab" target="window">
            <mat-icon>tab</mat-icon>
            New Tab
          </a>
          <a mat-raised-button href="/download/{{content.id}}" title="Downlaod">
            {{content.size_bytes | byteFormatter: 0}}
            <mat-icon >download</mat-icon>
          </a>
          <span class="video-title">{{content.src}}</span>
        </mat-card-title>
        <mat-card-subtitle *ngIf="content.description">{{content.description}}</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content [class.current-content]="selected">
        <div class="video-view">
          <div class="preview-content video-result preview-is{{content.shouldUseTypedPreview()}}"
            [class.video-overlay]="content?.content_type?.match('video')"
            style="width: {{previewWidth}}px; height: {{previewHeight}}px;"
            (click)="imgClicked(content)"
            title="Click to play the video (ESC to hide)">
            <!-- TODO: no preview video should use a differnt icon (content|video browser)-->
            <img class="preview-img" [src]="content.previewUrl" />
            <span class="preview-type" title="No preview">
              <mat-icon>{{content.shouldUseTypedPreview()}}</mat-icon>
              {{content.src}}
            </span>
            {{content.content_type}}
          </div>

          <div class="video-view-screens">
            <screens-cmp 
              [contentId]="content.id"
              [screens]="content.screens"
              [containerWidth]="screenWidth - previewWidth"
              [containerHeight]="2 * previewHeight"
              (clickedItem)="screenEvt($event)"
              (screensLoaded)="screensLoaded($event)"
            ></screens-cmp>
          </div>
        </div>

      <!-- We already show screens and normally there is a top level viewer-->
      <contented-view *ngIf="inlineView"
        [forceHeight]="600"
        [visible]="false"
        [showScreens]="false" 
        [restrictContentId]="content.id"
      ></contented-view>
      </mat-card-content>
    </mat-card>
  </div>
</div>
