<div class="video-view-cmp">

  <!-- Add in the full list of containers and allow for selection events. -->
  <contented-nav [loading]="loading" [containers]="containers"></contented-nav>

  <form #videoForm [formGroup]="options">
    <mat-form-field apperance="fill" floatLabel="true" class="search-field">
      <mat-label>
        Search Media
      </mat-label>
      <input type="text" name="videoText"
        [formControl]="videoText"
        matInput placeholder=""
      >
    </mat-form-field>
    <span *ngIf="selectedContainer">
      Filtering inside: {{selectedContainer.name}}
      <button type="button" mat-mini-fab color="warn" (click)="selectContainer(null)">
        <mat-icon aria-label="Stop filtering on container">close</mat-icon>
      </button>
    </span>

    <mat-paginator
      [length]="total"
      [pageSize]="pageSize"
      (page)="pageEvt($event)"
    ></mat-paginator>
    <mat-progress-spinner *ngIf="loading"
      [diameter]="32"
      [mode]="'indeterminate'">
    </mat-progress-spinner>
  </form>

  <contented-view></contented-view>

  <div class="video-results" *ngIf="!!media">
    <mat-card id="view_media_{{mc.id}}" class="video-view-card" *ngFor="let mc of getVisibleSet()">
      <mat-card-title>{{mc.src}}</mat-card-title>
      <mat-card-content [class.selected-video]="selectedMedia?.id == mc.id">
            
        <div class="video-view">
          <div class="preview-content video-result video-view"
            [class.video-overlay]="mc?.content_type?.match('video')"
            style="width:{{previewWidth}}px; height: {{previewHeight}}px;"
            (click)="imgClicked(mc)"
            >
            <img class="preview-img" [src]="mc?.previewUrl" (load)="imgLoaded($event)">
          </div>

          <div class="video-view-screens">
            <screens-cmp 
              [mediaId]="mc.id"
              [screens]="mc.screens"
              [containerWidth]="screenWidth"
              [containerHeight]="2 * previewHeight"
              (clickedItem)="screenEvt($event)"
            ></screens-cmp>
          </div>
        </div>
        <div class="video-details">
          <a mat-raised-button href="/view/{{mc.id}}" title="Open in new tab" target="window">
            New Fullscreen Tab
            <mat-icon>tab</mat-icon>
          </a>
          <a mat-raised-button href="/download/{{mc.id}}" title="Downlaod">
            {{mc.size | byteFormatter: 0}}
            <mat-icon >download</mat-icon>
          </a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
