<div class="video-browser-cmp">
  <!-- Add in the full list of containers and allow for selection events. -->
  <contented-nav [loading]="loading" [containers]="containers"></contented-nav>

  <form #videoForm [formGroup]="options" (keypress)="$event.stopPropagation()">
    <div class="search-form">
        <div class="search-tags" *ngIf="this.options">
          <tags-cmp
           [tags]="tags"
           [editorValue]="searchText"
           (tagsChanged)="changedSearch($event)"
          ></tags-cmp>
        </div>
        <div class="form-group search-type-selector">
          <mat-radio-group [formControl]="searchType" aria-label="Select to modify the search type">
            <mat-radio-button value="text">By Text</mat-radio-button>
            <mat-radio-button value="tags">By Tags</mat-radio-button>
          </mat-radio-group>
        </div>

        <mat-paginator
          [length]="total"
          [pageSize]="pageSize"
          (page)="pageEvt($event)"
        ></mat-paginator>

        <span *ngIf="selectedContainer">
          Filtering inside: {{selectedContainer.name}}
          <button type="button" mat-mini-fab color="warn" (click)="selectContainer(null)">
            <mat-icon aria-label="Stop filtering on container">close</mat-icon>
          </button>
        </span>
    </div>
  </form>

  <favorites-cmp></favorites-cmp>
  <!-- Hidden unless the user expands it -->
  <contented-view></contented-view>

  <video-preview-cmp 
    [selected]="selectedContent?.id === content.id"
    [maxVisible]="3"
    [content]="content"
    *ngFor="let content of getVisibleSet()"
  ></video-preview-cmp>
</div>
