<div class="contented-cmp">
  Contented Component Loaded

  FullScreen: {{fullScreen}}
  <div *ngIf="fullScreen">
    {{getCurrentLocation()}}
    <contented-view [viewUrl]="currentViewItem"></contented-view>
  </div>

  <div class="contented-dir" name="" *ngFor="let dir of getVisibleDirectories()">
    {{dir.name}}
    <div class="directory-contents" [class.current-content-dir]="dir == getCurrentDir()">
      <span *ngFor="let previewPath of dir.getContentList()">
        <img  class="preview-img" [src]="previewPath" class="preview-content"
          (load)="imgLoaded($event)"
        > 
      </span>
    </div>
  </div>
</div>
