@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */
@import '@angular/material/theming';
@include mat.core();

/* ======== Angular material custom themes ======== */
$content-primary: mat.define-palette(mat.$blue-palette, 500);
$content-accent: mat.define-palette(mat.$orange-palette, 100, 500, A100);
$content-warn: mat.define-palette(mat.$red-palette);

$smaller-fonts: mat-typography-config(
    $font-family:   'Roboto',
    $display-4:     mat-typography-level(112px, 112px, 300),
    $display-3:     mat-typography-level(56px, 56px, 400),
    $display-2:     mat-typography-level(45px, 48px, 400),
    $display-1:     mat-typography-level(32px, 40px, 400),
    $headline:      mat-typography-level(22px, 32px, 400),
    $title:         mat-typography-level(18px, 32px, 500),
    $subheading-2:  mat-typography-level(18px, 28px, 400),
    $subheading-1:  mat-typography-level(14px, 24px, 400),
    $body-2:        mat-typography-level(14px, 24px, 500),
    $body-1:        mat-typography-level(12px, 20px, 400),
    $caption:       mat-typography-level(12px, 20px, 400),
    $button:        mat-typography-level(12px, 14px, 500),
    $input:         mat-typography-level(inherit, 1, 400)
);

$content-theme: mat.define-light-theme((
  color: (
    primary: $content-primary,
    accent: $content-accent,
    warn: $content-warn,
  ),
  typography: $smaller-fonts,
  density: -2,
));
@include mat.all-component-themes($content-theme);
@include mat.form-field-density(-4);
