.contented-cmp {
    .preview-content {
        margin: 0.5rem;
        max-height: 40rem;
        max-width: 40rem;
    }
}

.current-img {
    background-color: #aaa;
    border: solid 1px black;
    border-radius: 2px;
}

.preview-img {
    object-fit: contain;
}

.full-view-img {
    object-fit: contain;
}

.current-content-dir {
    border: 1px solid #aaa;
}

.current-content-item {
    border: 1px solid black;
}

.directory-contents {
  margin: 0 0 2rem 0;
}
